name: Build and Push Image

on:
  push:
    branches:
      - uat
      - production

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "NODE_ENV=production" >> .env
          echo "NEXT_PUBLIC_APP_URL=${{ vars.NEXT_PUBLIC_APP_URL }}" >> .env
          echo "NEXT_PUBLIC_BACKEND_BASE_URL=${{ vars.NEXT_PUBLIC_BACKEND_BASE_URL }}" >> .env
          echo "NEXT_PUBLIC_API_URL=\"\$NEXT_PUBLIC_BACKEND_BASE_URL/api\"" >> .env

      - name: Login to private Docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build Docker image
        run: |
          IMAGE=${{ secrets.REGISTRY_URL }}/meichu-fe
          GIT_SHA=$(echo $GITHUB_SHA | head -c 7)
          TAG_SUFFIX=${GITHUB_REF_NAME}

          docker build -t $IMAGE:${TAG_SUFFIX}-latest -t $IMAGE:${TAG_SUFFIX}-$GIT_SHA .

      - name: Push Docker image
        run: |
          IMAGE=${{ secrets.REGISTRY_URL }}/meichu-fe
          GIT_SHA=$(echo $GITHUB_SHA | head -c 7)
          TAG_SUFFIX=${GITHUB_REF_NAME}

          docker push $IMAGE:${TAG_SUFFIX}-latest
          docker push $IMAGE:${TAG_SUFFIX}-$GIT_SHA
